!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SpotifyVoter
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav{class: 'navbar navbar-default',role: 'navigation'}
      .container-fluid
        .navbar-header
          = link_to "Spotify voter", root_path, class: "navbar-brand"
          -# %a{class: 'navbar-brand', href:'#'} Spotify voter
          - if current_user
            %p{class: 'navbar-text navbar-right'} Signed in as #{current_user.name.nil? ? current_user.uid : current_user.name}

    .container
      = yield
